<mat-toolbar color="primary">
  <span>My Application</span>
</mat-toolbar>

<div class="main-container">

  <section>
    <div class="example-button-row">
      <button mat-raised-button>Basic</button>
      <button mat-raised-button color="primary">Primary</button>
      <button mat-raised-button color="accent">Accent</button>
      <button mat-raised-button color="warn">Warn</button>
      <button mat-raised-button disabled>Disabled</button>
      <a mat-raised-button href="https://www.google.com/" target="_blank">Link</a>
    </div>
  </section>
  <hr>

  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  asd
</div>